body {
    background-color: #0c0b09;
    color: #d9ba85;
    font-family: Arial, sans-serif;
}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #0c0b09;
    box-shadow: 10px 10px 15px #0a0907, -10px -10px 15px #0e0d0b;
    border-radius: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin: 0 0 20px;
}

.neumorphic-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.neumorphic-table th,
.neumorphic-table td {
    padding: 10px;
}

.neumorphic-table th {
    background: #0c0b09;
    color: #d9ba85;
    font-weight: bold;
    border-top: 2px solid #d9ba85;
    border-bottom: 2px solid #d9ba85;
}

.neumorphic-table td {
    background: #0c0b09;
    color: #d9ba85;
    border-bottom: 1px solid #d9ba85;
    text-align: center;
}

.cart-summary {
    text-align: right;
    margin-bottom: 20px;
}

.cart-summary p {
    margin: 10px 0;
}

.subtotal-amount,
.total-amount {
    font-weight: bold;
    color: #d9ba85;
}

.checkout-button {
    display: inline-block;
    padding: 10px 20px;
    background: #0c0b09;
    color: #d9ba85;
    text-decoration: none;
    border: 2px solid #d9ba85;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.checkout-button:hover {
    background: #d9ba85;
    color: #0c0b09;
}
