# The environment to run the app in. development | production | test
NODE_ENV=development

# The port the backend Express server will listen on
PORT=5000

# The PostgreSQL connection string
DATABASE_URL="postgresql://55lounge:secretpassword@localhost:5432/55lounge_dev?schema=public"

# The allowed CORS origin for the frontend
CORS_ORIGIN="http://localhost:3000"

# Secret key for signing JWTs. Must be at least 32 characters long.
JWT_SECRET="changeme_to_a_random_32_char_string"

# Secret key for signing refresh tokens. Must be at least 32 characters long.
JWT_REFRESH_SECRET="changeme_to_another_random_32_char_string"

# Log level for Pino. trace | debug | info | warn | error | fatal
LOG_LEVEL=debug
